@media(max-width:1020px){
    .telephone,.world,.nav-bar{
        display: none;
    }
    .hamburger{
        display: block;
    }
    header{
        height: 300px;
    }
}
@media(max-width:700px){
.logo h4{
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 40px;
}
.big h1{
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
padding-top: 70px;
}
header{
 height: 250px;
}
}
/* header */
@media(max-width:500px){
    .chev p:first-child , .chevright{
        display: none;
    }
    .chevleft{
        display: block;
    } 
}
/* chevrons */
@media(max-width:1150px){
    .foods{
        display: grid;
        grid-template-columns: repeat(2,auto);
    }
}
@media(max-width:600px){
    .foods{
        display: none;
    }
    .secret_foods{
        display: block;
        display: flex;
        justify-content: center;
    }
    .sc_meal{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .sc_meal img{
        object-fit: fill; 
        width: 100%;
        background-size: contain;
    }
}
/* foods */
@media (max-width:500px){
    .right-fot .up-chevron{
        display: none;
    }
   .right-fot{
    flex-direction: column;
   }
  footer{
    flex-direction: column;
  }
  .author span{
    font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
  }
  .logo h4{
font-style: normal;
font-weight: 600;
font-size: 50.6165px;
line-height: 51px;
  }
}
/* FOOTER */



