/* header */
@media (max-width:1250px) {

    .telephone,
    .world,
    .nav-bar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .main-text {
        margin: 0;
    }
}

@media (max-width:900px) {
    .main-text {
        width: 280px;
        margin: 0;
    }

    .main-text h1 {
        font-size: 30px;
        display: inline;
    }

    .learn a {
        margin-left: 0;
    }

    .main-text .learn a:last-child {
        margin-left: 0;
    }
}

@media (max-width:800px) {
    header {
        background-image: none;
        background-color: #00543D;
        border-radius: 0 0 50px 50px;
        padding-top: 30px;
        width: 100%;
        height: 550px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .main-text {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        row-gap: 0px;
    }

    .main-text h1 {
        line-height: 1;
        padding-top: 5px;
    }

    .main-text {
        display: flex;
        flex-direction: column;
    }

    .main-text .learn {
        display: flex;
        flex-direction: column;

    }

    header {
        position: relative;
    }

    .woman {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;

    }

    .woman img {
        height: 400px;
        width: auto;
        object-fit: contain;
        border: 0 50px 50px 50px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:754px) {
    .woman img {
        height: 350px;
    }

}

@media (max-width:688px) {
    .main-text .learn {
        margin-top: 0;
    }

    .main-text .learn a:last-child {
        margin: 0;
    }

    .woman img {
        height: 284px;
    }

    .main-text h1 {
        font-size: 20px;
        display: inline;
    }

    .main-text .learn a:first-child {
        background: #CC9964;
        border-radius: 40px;
        color: #fff1d4;
        font-size: 14px;
        font-weight: 200px;
        line-height: 36px;
        width: 170px;
        height: 43px;
        padding: 4px 38px;
        ;
    }

    .main-text .learn a:last-child {
        font-size: 20px;
    }
}

/*  */
/* About us */
@media (max-width:1030px) {
    .right-about img {
        width: 410px;
        padding-right: 0;
    }

    .main-text .learn {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width:934px) {
    .about-us {
        flex-wrap: wrap;
    }

    .right-about {
        margin-top: 20px;
    }

}

@media (max-width:780px) {
    .left-about {
        width: 100%;

    }

    .left-about .learn {
        margin: 0;
    }
}

@media (max-width:499px) {
    .left-about .learn {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    .left-about .learn a {
        display: block;
    }

    .left-about .learn a:first-child {
        width: 280px;
        padding: 10px 80px;
    }

    .left-about .learn a:last-child {
        margin-left: 0;
    }
}

@media (max-width:430px) {
    .right-about img {
        width: 250px;
    }

    .left-about .learn a:first-child {
        width: 260px;
        font-size: 19px;
        padding: 10px 80px;
        display: inline-block;
    }

    .left-about .learn {
        width: 100%;
    }

}

/* Services */
@media (max-width:466px) {
    .services .icons .chevrons {
        display: none;
    }

    .services .services-sec {
        width: auto;
    }

    .services .services-sec p {
        padding: 5px;
        width: auto;
    }

    h5 {
        font-size: 45px;
    }

    .services .icons {
        display: flex;
        justify-content: center;
    }

}

/* boxes */
@media (max-width:466px) {
    .products a {
        display: none;

    }

    .box1 {
        width: 235px;
        height: 265px;
        object-fit: fill;

    }

}

/*  */

@media (max-width:1194px) {
    .cards {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width:860px) {
    .cards {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width:600px) {
    .cards {
        grid-template-columns: repeat(1, auto);
    }

    .cards p {
        font-size: 20px;
    }
    .card1{
        background-size: 160px;
    }
}


/* OUR TEAM */

@media (max-width:700px) {
    .our-team .chevrons {
        display: none;
    }

    .see-more {
        text-align: center;
    }
}



@media (max-width:468px) {
    .st-chef {
        display: none;
        height: 194px;
        background-size: 160px;
    }

    .st-chef:first-child {
        display: block;
        width: 100%;

    }

    .chefs {
        width: 97%;
        margin: 0 auto;

    }

    .chef_wrapper {
        padding-right: 10px;
    }

    .st-chef span {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        padding-top: 30px;
        padding-left: 10px;
    }

    .st-chef h6 {
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        padding: 70px 50px;
        padding-left: 10px;
       
    }
    .see-more{
       text-align: center;
       padding-right: 0;
       padding-top: 20px;
    }
}
@media (max-width:784px){
    .contacts .location iframe{
        
        height: 375px;
     
        
    }
    .location{
        overflow-x: hidden;
        width: 100%;
    }
    .contact-info i,a{
        color: #00543D;
        font-size: 15px;
        line-height: 20px; 
        margin: 20px;
    }
}
/*  */
@media (max-width:500px){
    .right-fot .up-chevron{
        display: none;
    }
   .right-fot{
    flex-direction: column;
   }
  footer{
    flex-direction: column;
  }
  .author span{
    font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
  }
  .logo h4{
font-style: normal;
font-weight: 600;
font-size: 50.6165px;
line-height: 51px;
  }
}

































































/* @media(max-width:860px){
    .telephone,.world,.nav-bar{
        display: none;
    }

    .hamburger{
        display: block;
        
    }
    .main-text h1{
        width: 271px;
        height: 96px;
        font-size: 20px;
        line-height: 30px;
    }
    .about-us.left-about.learn a{
        flex-direction: column;
    }
    header{
        width: 614px;
        height: 473px;
    }
    .right-about img{
        width: 192px;
        height: 237px;
    }
    .left-about .learn a:first-child{
        font-size: 14px;
    }
    .left-about .learn a:last-child{
        font-size: 14px;
    }
    .boxes{
        flex-wrap: wrap;
    }

}
@media(max-width:1324px){
    .cards{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
@media(max-width:990px){
    .cards{
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media(max-width:861px){
    .cards{
        display: grid;
        grid-template-columns: auto;
        margin-left: 100px;
    }
    .chefs .st-chef:nth-child(2),.st-chef:nth-child(3){
        display: none;
    }
     .contacts .location iframe{
        width: 100%;
    }

}
@media(max-width:680px){
    .boxes .box1:nth-child(4),.box1:nth-child(3),.box1:nth-child(2){
        display: none;
    }
    .boxes .box1:nth-child(1){
        width: 100%;
    }

}
@media(max-width:500px){
    .right-fot .up-chevron i{
        display: none;
    }
} */