@media(max-width:1020px){
    .telephone,.world,.nav-bar{
        display: none;
    }
    .hamburger{
        display: block;
    }
    header{
        height: 300px;
    }
}
@media(max-width:700px){
.logo h4{
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 40px;
}
.big h1{
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
padding-top: 70px;
}
header{
 height: 250px;
}
}
/* header */
@media(max-width:500px){
    .chev p:first-child , .chevright{
        display: none;
    }
    .chevleft{
        display: block;
    } 
}
/* chevrons */
@media(max-width:1382px){
    .products{
        display: grid;
        grid-template-columns: repeat(3,auto);
    }
}
@media(max-width:1028px){
    .products{
        display: grid;
        grid-template-columns: repeat(2,auto);
    }
}
@media(max-width:686px){
    .products{
        display: grid;
        grid-template-columns: repeat(1,auto);
    }
    .food{
        width: 230px;
        height: 280px;
    background-size: 170px;
    }
    .food p{
        font-size: 20px;
    }
}
/* FOOTER */
@media (max-width:500px){
    .right-fot .up-chevron{
        display: none;
    }
   .right-fot{
    flex-direction: column;
   }
  footer{
    flex-direction: column;
  }
  .author span{
    font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
  }
  .logo h4{
font-style: normal;
font-weight: 600;
font-size: 50.6165px;
line-height: 51px;
  }
}